---
layout: page
title: Пьесы
---

<section class="sort-ui sort-ui__self body__margin">
  <p class="sort-ui__heading">Показать сначала:</p>
  <ul class="sort-ui__list">
    <li class="sort-ui__item" id="sort-new">новые</li>
    <li class="sort-ui__item" id="sort-old">старые</li>
    <li class="sort-ui__item" id="sort-popular">популярные</li>
  </ul>
</section>

<div class="piece-cards body__margin">
  {% assign pieces-sorted = site.data.pieces %}
  {% for piece in pieces-sorted %}
    <article class="piece-card" id="piece-{{ piece.order }}">
      <div class="piece-card__header">
        <div class="piece-card__age">{{ piece.age }}+</div>
        <div class="delimiter"></div>
        {% if piece.year %}
          <div class="piece-card__year">{{ piece.year }} год</div>
        {% endif %}
      </div>
      <header class="piece-card__heading">
        <h2 class="piece-card__title">{{ piece.title }}</h2>
        {% if piece.subtitle %}
         <p class="piece-card__subtitle">{{ piece.subtitle }}</p>
        {% endif %}
      </header>
      <p class="piece-card__description">{{ piece.description }}</p>
      <div class="delimiter piece-card__delimiter"></div>
      <div class="piece-card__table">
        {% if piece.button-link %}
          <section class="data data_inline">
            <header class="data__key">Скачиваний:</header>
            <div class="data__value" id="piece-{{ piece.order }}-counter"></div>
          </section>
        {% endif %}
        {% if piece.characters %}
        <section class="data data_inline">
          <header class="data__key">Персонажей:</header>
          <div class="data__value">{{ piece.characters }}</div>
        </section>
        {% endif %}
        {% if piece.client %}
          <section class="data">
            <header class="data__key">Заказчик:</header>
            <a  class="link data__value"
                href="{{ client-link }}"
                target="_blank">{{ piece.client }}</a>
          </section>
        {% endif %}
        {% if piece.rewards.size %}
          <section class="data">
            <header class="data__key">Регалии:</header>
            {% for reward in piece.rewards %}
              <a  class="link data__value"
                  href="{{ reward.link }}"
                  target="_blank">{{ reward.name }}</a>
            {% endfor %}
          </section>
        {% endif %}
        {% if piece.productions.size %}
          <section class="data">
            <header class="data__key">Постановки:</header>
            {% for production in piece.productions %}
              <a  class="link data__value"
                  href="{{ production.link }}"
                  target="_blank">{{ production.name }}</a>
            {% endfor %}
          </section>
        {% endif %}
      </div>
      {% if piece.button-link %}
        <a  class="button link-reset piece-card__button"
            id="piece-{{ piece.order }}-button"
            href="{{ piece.button-link }}"
            target="_blank">
          {% if piece.button-text %}
            {{ piece.button-text }}
          {% else %}
            Скачать
          {% endif %}
        </a>
      {% else %}
        <div class="button button_unactive piece-card__button">
          {% if piece.button-text %}
            {{ piece.button-text }}
          {% else %}
            Скачать нельзя :(
          {% endif %}
        </div>
      {% endif %}
      <div class="piece-card__hidden piece-card__order">{{ piece.order }}</div>
      <div class="piece-card__hidden piece-card__popularity">{{ piece.rewards.size | plus: piece.productions.size }}</div>
    </article>

    <script type="application/ld+json">
      {
        "@type": "Play",

        "name": "{{ piece.title }}{% if piece.subtitle %}. {{ piece.subtitle }}{% endif %}",
        
        {% if piece.description %}
        "description": "{{ piece.description | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '"', '\"' }}",
        {% endif %}

        {% if piece.year %}
        "copyrightYear": "{{ piece.year }}",
        {% endif %}
        
        {% if piece.age %}
        "typicalAgeRange": "{{ piece.age }}-",
        {% endif %}

        {% if piece.button-link %}
        "isAccessibleForFree": "True",
        "url": "{{ piece.button-link }}",
        {% else %}
        "isAccessibleForFree": "False",
        {% endif %}

        {% if piece.client %}
        "producer": "{{ piece.client }}",
        {% endif %}

        {% if piece.rewards.size > 0 %}
        "awards": [
          {% for reward in piece.rewards %}
          {
            "@type": "Award",
            "name": "{{ reward.name }}",
            "url": "{{ reward.link }}"
          }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
        {% endif %}

        "copyrightHolder": "Пётр Вяткин",
        "author": "Пётр Вяткин",
        "editor": "Максим Мальцев"
      }
    </script>

  {% endfor %}
</div>