---
---

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Prosto+One&display=swap');

// Брейкпоинты
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1920px;

$red: #af331a;
$white: #fff;
$black: #000;

$heading-family: 'Prosto One', sans-serif;
$default-family: 'Noto Sans', sans-serif;

:root {
  --indent: .75rem;

  @media (min-width: $xl) {
    --indent: 2rem;
  }
}

@import "_piece-card";
@import "_drag-to-scroll";
@import "_header";
@import "_menu";
@import "_fullscreen";
@import "_hero";
@import "_index-content";
@import "_contacts";
@import "_about";
@import "_sort-ui";
@import "_data";
@import "_button";

.html {
  font: 400 16px/130% $default-family;
  height: 100%;

  @media (min-width: $xxl) {
    font-size: 24px;
  }
}

.body {
  margin: 0;
  height: 100%;
}

.body__margin {
  /* width: calc(90% + 5px);
  margin-right: auto;
  margin-left: auto; */

  margin-inline: var(--indent);
}

.body__padding {
  padding-inline: var(--indent);
}

.link {
  color: $red;
}

.link-inverted {
  color: $white;
}

.link-reset {
  color: inherit;
  text-decoration: inherit;
}

.title {
  font: 1.2rem $heading-family;
}