.about {
	display: grid;
  grid-auto-flow: row;
  gap: 1.5rem 5rem;

  @media (min-width: $md) {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }
}

.about__self {
  margin-top: 2rem;
}

.about__content {
	max-width: 35em;
}

.about__header {
  display: inline;
  font: 400 1.25rem $heading-family;
}

