.button {
  grid-area: button;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  box-sizing: border-box;
  padding: .75rem 1.25rem;
  min-height: 2rem;
  border-radius: 0.5rem;
  border: 1px black solid;
  cursor: pointer;
}

.button_unactive {
  cursor: default;
  color: #0008;
}