.contacts {
  font-style: normal;
}

.contacts__list {
  margin: 0;
}

.contacts__heading {
	font: 1.25rem/115% $heading-family;
  margin: 0 0 .25rem;

  @media (min-width: $xl) {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.contacts__content {
	margin: 0 0 1.5rem;
  opacity: .9;

  &:last-child {
    margin-bottom: 0;
  }
}