.contacts {
	display: grid;
  gap: 1.5rem;
}

.contacts__contact {
  display: grid;
  gap: .25rem;
}

.contacts__heading {
	font: 1.25rem/115% $heading-family;
  margin: 0;
}

.contacts__content {
	margin: 0;
  opacity: .9;
}

@media (min-width: $xl) {
  
  .contacts__contact {
    gap: 0;
  }

  .contacts__heading {
    font-size: 3rem;
  }

}