.data {

}

.data__key {
  color: #000b;
  margin: 0 0 .5rem;
}

.data__value {
  display: block;
  margin: 0 0 .5rem 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:only-of-type {
    /* Рядом с одинокими элементами интервал кажется больше. Компенсируем */
    margin-top: -0.2rem;
  }

}

.data_inline {

  .data__key,
  .data__value {
    display: inline;
    margin: 0;
  }

}