.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__photo {
  position: relative;
  right: .2rem;
  border-radius: 999px;
  width: 8rem;
  margin: 0 0 1rem 0;
}

.hero__heading {
  font: 2.5rem/115% $heading-family;
  margin: 0 0 .5rem 0;
}

.hero__tagline {
  font: 1.25rem/135% $default-family;
  margin: 0;
}

@media (min-width: $md) and (min-height: 700px) {

  .hero__heading {
    font-size: 3.5rem;
  }
  
  .hero__tagline {
    font-size: 1.5rem;
  }

}
