.menu {
  display: grid;
  grid-auto-flow: row;
  justify-content: end;
  gap: 1.5rem;
}

.menu__item {
  font-size: 1.25rem;
  text-align: right;
  text-decoration: none;
  text-transform: lowercase;
  margin: 0;
}

.menu__item_current {
  opacity: 50%;
  pointer-events: none;
}