.piece-cards {
  /* display: grid;
  gap: 4rem; */
  transition: opacity 0.3s ease-in-out;

  > * {
    margin-bottom: 5rem;

    @media (min-width: $xl) {
      margin-bottom: 7rem;
    }
  }
}

.piece-card {
  display: grid;
  grid-template-areas:
      "header"
      "heading"
      "description"
      "delimiter"
      "table"
      "button";
  gap: 1rem 3rem;
  transition: background-color 0.5s linear;

  @media (min-width: $md) {
    grid-template-areas:
      "header       header"
      "heading      table"
      "description  table"
      "button       table";
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
  }
}

.piece-card_highlighted {
  background-color: #ffa;
}

.piece-card__header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: baseline;
  gap: .5rem;
  color: #5E5E5E;
}

.delimiter {
  height: 0;
  border: 1px solid #0003;
}

.piece-card__delimiter {
  grid-area: delimiter;
  border: .5px solid #0003;

  @media (min-width: $md) {
    display: none;
  }
}

.piece-card__heading {
  grid-area: heading;
  display: grid;
  gap: .25rem
}

.piece-card__title {
  font: 1.5rem/115% $heading-family;
  -webkit-text-stroke: .02em black;
  margin: 0;
}

/* Если нет subtitle */
.piece-card__title:only-child {
  margin-bottom: -0.4em;
}

.piece-card__subtitle {
  font: 500 1.25rem/130% $default-family;
  margin: 0;
}

.piece-card__description {
  grid-area: description;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.piece-card__table {
  grid-area: table;
  align-self: start;
  display: grid;
  gap: .75rem;
  margin: 0;
}

.piece-card__button {
  grid-area: button;
  align-self: start;
  width: 100%;

  @media (min-width: $sm) and (max-width: $md), (min-width: $lg) {
    max-width: 20rem;
  }
}

.piece-card__hidden {
  display: none;
}