.sort-ui {
  display: flex;
  flex-direction: column;
}

.sort-ui__self {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.sort-ui__heading {
  font-weight: 600;
  margin: 0;
}

.sort-ui__list {
  @extend .list-reset;
  display: flex;
  gap: 1rem;
  margin: 0 0 0 1rem;
}

.sort-ui__item {
  display: block;
  list-style-type: none;
  text-decoration: underline dashed;
  color: $red;
  cursor: pointer;
  border: 0;
  background: 0;
  font: inherit;
  padding: 0;;
}

.sort-ui__item_selected {
  text-decoration: none;
  color: $black;
  cursor: auto;
}