.text {

}

.text__mt {
  margin-top: 4rem;
}

.text__text-block {
	margin: 0 0 4rem;
}

.text__heading {
	font: 1.25rem/115% $heading-family;
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  max-width: 20em;
}

.text__paragraph {
  font-style: normal;
	margin: 0 0 .5rem;
  max-width: 33em;
}

.text__sort {
  margin: -1rem 0 2.5rem;
}