<!DOCTYPE html>
<html class="html" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}. {{ page.title }}</title>
  <script src="assets/js/sort.js"></script>
  <script src="assets/js/drag-to-scroll.js"></script>
  <script src="assets/js/highlightPiece.js"></script>
  <script src="assets/js/counter.js"></script>
</head>
<body class="body">
  
  {% if page.header != false %}
    {% include header.html %}
  {% endif %}

  {{ content }}

</body>
</html>